# Servidor API
fastapi
uvicorn
gunicorn

# Inteligencia Artificial y LangChain
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters

# Google Gemini SDK
google-generativeai

# Base de Datos y Documentos
chromadb
pypdf

# Utilidades
python-dotenv
